{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock  %}


{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}


{% block content %}
    <div class="mt-5 pt-3 bg-white custom-shadow rounded">
        <h2 class="m-3"><strong>{{ content }}</strong></h2>
            <p class="m-3" font>
                Добро пожаловать в мир <b>Prestige</b> - вашего надежного партнера<br/> 
                в создании стильной и уютной обстановки для вашего дома.<br/> 
                Мы - команда профессионалов, которая с любовью и творчеством<br/> 
                занимается производством и продажей качественной мебели уже много лет.<br/>
            <br/>
                Наша миссия - делать ваш дом еще более уютным и комфортным, предлагая<br/> 
                широкий ассортимент мебели, отражающей последние тенденции дизайна<br/>
                и сочетающей в себе функциональность и красоту.<br/>
            <br/>
                Мы гордимся нашими мастерами, которые с любовью изготавливают каждый<br/> 
                предмет мебели, уделяя внимание каждой детали. Наша цель - удовлетворить<br/> 
                потребности и вкусы каждого клиента, создавая уникальные и стильные интерьеры.<br/>
            <br/>
                Мы ценим каждого нашего клиента и стремимся к долгосрочным отношениям,<br/> 
                основанным на взаимном доверии и уважении. Приглашаем вас посетить наш шоурум<br/> 
                и погрузиться в мир <b>Prestige</b> - мира красоты, стиля и комфорта.<br/>
            <br/>
        </p>
    </div>
{% endblock  %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Prestige 2024</p>
    </div>
</footer>
{% endblock  %}