{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock  %}


{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}


{% block content %}
    <div class="mt-5 pt-3 bg-white custom-shadow rounded">
        <h2 class="m-3"><strong>{{ content }}</strong></h2>
            <p class="m-3" font>
                Мы осуществляем доставку нашей мебели по всему городу. Наша команда профессиональных курьеров заботливо<br/>
                доставит ваш заказ прямо до вашей двери. Мы стремимся сократить время ожидания и обеспечить быструю и надежную доставку.<br/>
                Мы оперативно обрабатываем все заказы, предлагая нашим клиентам доставку в течение <em>1-3</em> рабочих дней.<br/>
                Кроме того, мы предлагаем установку при доставке, чтобы облегчить вам процесс сборки и размещения мебели в вашем доме.<br/> 
            <br/>
                Мы также понимаем, что ваше время очень ценно. Поэтому, если вам удобнее самостоятельно забрать мебель из нашего магазина,<br/>
                мы предлагаем возможность самовывоза. Вы можете оформить заказ на нашем сайте и забрать его у нас в магазине в удобное<br/>
                для вас время. Наш персонал поможет вам с погрузкой и ответит на все ваши вопросы.<br/>
            <br/>
                Мы предлагаем различные способы оплаты, чтобы сделать процесс оформления заказа максимально удобным для наших клиентов.<br/>
                Вы можете выбрать один из следующих вариантов оплаты:<br/>
            <br/>
                <b>1.</b> Наличными курьеру при доставке мебели. Этот метод наиболее удобен, если вы предпочитаете оплачивать заказы наличными.<br/>
                   Наши курьеры обязательно предоставят вам чек и подтверждение платежа.<br/>
            <br/>
                <b>2.</b> Банковской картой при оформлении заказа в нашем магазине или на нашем сайте.<br/>
                   Мы принимаем все основные типы карточек и гарантируем конфиденциальность и безопасность ваших финансовых данных.<br/>
            <br/>
                <b>3.</b> Безналичным платежом для юридических лиц. Если вы представляете организацию или компанию, у вас есть возможность<br/>
                   оплатить мебель по безналичному расчету. Мы предоставим вам все необходимые документы и счета для оформления платежа.<br/>
            <br/>
                Благодарим вас за выбор мебельного магазина <b>Prestige</b>. Мы гордимся тем, что можем предложить вам лучшую мебель<br/>
                в сочетании с безупречным обслуживанием и удобством доставки и оплаты.<br/>
            <br/>
        </p>
    </div>
{% endblock  %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Prestige 2024</p>
    </div>
</footer>
{% endblock  %}